body,
html {
  font-family: 'Roboto';
  font-weight: 100;
  padding: 0;
  margin: 0;
}
body {  background: #000 }
div {
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
}
a {
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
a:hover {
  text-decoration: none !important;
  opacity: 1 !important;
}
input {
  background: none;
  border: none;
  font-weight: 50;
  border-bottom: 1px solid #fff;
  color: #fff !important;
}
hr {
  margin: 0 20px;
  border-bottom: 0;
  border-top: 1px solid #d6d6d6;
  clear: both;
}
.pink {  color: #F787B8; padding-left: 5px; }
h1 a:hover {  text-decoration: underline }
h2 {
  font-family: 'Roboto';
  font-weight: 300;
  color: #262626;
  margin: 0;
  margin-left: 40px;
}
.page-hdr li,
.page-hdr {
  font-family: 'Roboto';
  font-weight: 300;
  color: #262626;
  margin: 40px 0;
}
.page-hdr ul {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}
.page-hdr li {
  list-style: none;
  float: left;
  color: #777;
  font-weight: 100 !important;
  margin-right: 20px;
}
.page-hdr .reviews-current {  color: #262626 }
ul {  padding: 0 }
ul.links {  padding-bottom: 20px }
ul.links li {  color: #4c8efa }
.avatar {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  display: block;
  margin: 20px 0;
}
.follow {
  padding: 10px 30px !important;
  border: 1px solid #fff !important;
  border-radius: 3px;
}
.follow:hover {
  background: #fff;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  color: rgba(0,0,0,.8);
  font-weight: 400;
}
 .following {
  background: #fff !important;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  color: rgba(0,0,0,.8);
  font-weight: 400;
  opacity: 1 !important;
}
.space {
  margin: 20px 0;
}
#overhead-nav-wrap {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  right: 0;
  z-index: 989;
  bottom: 0;
  height: 120px;
  width: 140%;
  background-size: cover;
  background: #000 url('../img/landing-bg-3.png') top left no-repeat;
  background-size: 140%;
  background-size: cover !important;
  -moz-background-size: cover !important;
  -webkit-background-size: cover !important;
  background-position-y: -200px !important; 
  opacity: 0;
  overflow: hidden;
}


#overhead-nav {
  padding: 0;
  margin: 50px 260px;
  width: 140%;
  background-size: cover;
  background-size: 140%;
  background-size: cover !important;
  -moz-background-size: cover !important;
  -webkit-background-size: cover !important;
  background-position-y: -200px !important; 
  width: 100%;
}

#overhead-nav li {  display: inline }
#overhead-nav li a {
  margin-right: 30px;
  opacity: .5;
  font-size: 17px;
}
input.drop-video {
    border: dashed 3px rgba(250,250,250,.4);
   padding: 50px 80px;
    border-radius: 3px;
    font-size: 11px;
    text-align: center !important;
}
input.drop-video[type="button"] {
    display: none !important;
}
.drop-video:hover {
    background: rgba(250,250,250,.1);
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
}
.cta-upload {
  border-radius: 60px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border: 1px solid #fff;
  padding: 8px 25px;
  opacity: 1 !important;
}
.cta-upload:hover {
  color: #F787B8;
  border: 1px solid #F787B8;
}
.cta-add {
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border: 2px solid #fff;
  text-align: center;
  font-size: 35px;
  line-height: 36px;
  width: 40px;
  height: 40px;
  opacity: 1 !important;
  position: fixed;
  vertical-align: middle;
  top: 40px;
  right: 40px;
  z-index: 88888888;
  opacity: 0 !important;
}
.cta-close {
  border: 2px solid rgba(250,250,250,0);
  font-size: 70px;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transform: rotate(765deg);
  -ms-transform: rotate(765deg); /* IE 9 */
  -webkit-transform: rotate(765deg); /* Opera, Chrome, and Safari */
}
.cta-add:hover {
  opacity: .5 !important;
  font-size: 50px;
  line-height: 37px;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
#videos-wrap {
  left: 0;
  margin-left: 180px;
  height: 100%;
  /*-webkit-column-count: 5;;
  -webkit-column-gap: 0;
  -moz-column-count: 5;
  -moz-column-gap: 0;
  column-count: 5;
  column-gap: 0;*/
}
.video {
  opacity: 1;
  height: 100%;
  margin: 20px;
  float: left;
  overflow: hidden;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
}
.video:hover {  cursor: pointer }
.video iframe {
  left: 50%;
  margin-left: -20px;
}
iframe .ytp-large-play-button {  display: none !important }
iframe {
  border: none;
  background-size: 105%;
}
.top-nav {
  border-bottom: 1px solid rgba(250,250,250,.1);
  padding-bottom: 20px;
  margin-bottom: 0 !important;
}
.bottom-nav {
  margin-top: 30px !important;
  padding: 0;
}
.landing {
  border: none !important;
  background: none !important;
}
#nav {
  background: rgba(0,0,0,.4);
  width: 160px;
  left: 0;
  height: 100%;
  position: fixed;
  top: 0 !important;
  padding: 30px;
  z-index: 888888;
  opacity: 0;
}
#nav ul {  padding-top: 0 }
#nav ul li {  line-height: 25px !important }
#nav ul li a {
  font-size: 14px;
  opacity: .6;
}
form {
    padding-top: 60px;
    opacity: 0;
    width: 300px;
}
form input {
    width: 200px;
    float: left;
    margin-top: 0 !important;
    margin-left: 30px;
}
.button {
    border: solid 2px #fff !important;
    font-size: 30px;
    border-radius: 100px;
    opacity: .2 !important;
    width: auto !important;
    padding: 20px 22px !important;
    position: absolute;
    float: left;
}
.floaters {
  position: absolute !important;
  top: 50%;
  left: 50%;
  margin-top: -30px !important;
  margin-left: -200px !important;
}
.floaters li {
  margin-right: 20px;
  text-align: center;
  color: #fff;
}
.floaters input {
  border: none;
  text-align: center;
  width: 300px;
  opacity: .7;
  padding: 20px;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff !important;
  font-size: 20px;
  margin-top: -60px !important;
}
.modal-input {
    width: 400px;
    height: 80px;
    line-height: 20px;
    font-weight: 100 !important;
}
.input,
.page-hdr {  opacity: 0 }
li {
  font-weight: 300 !important;
  font-size: 20px !important;
  color: #999;
  line-height: 22px !important;
  list-style: none;
}
a.current {
  padding: 0;
  margin: 0;
  height: 50px;
  width: 80px;
  list-style: none;
  opacity: 1 !important;
  font-size: 30px !important;
  font-weight: 100;
  padding-bottom: 20px;
  line-height: 44px;
}
.color {
  position: relative;
  width: 100%;
  height: 4px;
  float: left;
  border-radius: 3px 3px 0 0;
}
.fluid .center-content ul.pages {
  float: right;
  bottom: 30px;
  padding: 0 !important;
  margin: 0 !important !important;
  z-index: 989898;
  position: relative !important;
}
#wrap {
  padding: 100px 60px;
  margin: 0 auto;
  left: 80px;
  background: none;
}
.overlay {
  background: rgba(0,0,0,.8);
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0
}
.add-modal {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 3333333;
  position: fixed;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
}
.add-modal h2 {
  color: #fff;
  font-size: 60px;
  text-align: center;
  margin: 130px 0 70px 0;
  font-weight: 100;
}
.add-modal h1 {
    color: #999;
    font-size: 50px;
    font-weight: 100;
}
.show-modal {
  top: 0;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
}
.add-modal .float {
  width: 400px;
  height: 200px;
  text-align: center;
}
.uploader-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -400px;
    opacity: 0 !important;
}
.float-wrap {
   width: 400px;
   margin: 0 auto;
}
.right-border {
    border-right: rgba(250,250,250,.1);
}
.center h2,
h2.page-hdr {
  font-size: 65px;
  color: #fff;
  font-weight: 100;
  padding-bottom: 30px;
}
.center {
  width: 370px;
  padding: 20px;
  text-align: center;
}
.page-hdr {
  width: 100%;
  z-index: 2;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
}
.page-hdr span {  opacity: .5 }
.logo {
  margin: 0 0 40px 0 !important;
  padding: 0 !important;
  font-weight: 100;
  color: #fff !important;
  font-size: 24px !important;
  opacity: 1 !important;
}
#fixed-hdr .sub {  font-size: 12px !important }
#fixed-hdr ul {
  padding-left: 0;
  margin: 0;
}
#fixed-hdr li {
  padding: 0;
  margin: 0;
  margin-bottom: 85px;
}
#fixed-hdr hr {
  width: 170px;
  margin: 30px;
  margin-top: 35px;
  margin-bottom: 30px;
}
#fixed-hdr li a {
  font-family: 'Roboto';
  font-weight: 400;
  color: #999;
  height: 100px !important;
  width: 100px !important;
  text-decoration: none;
  -moz-transition: all 600ms;
  -o-transition: all 600ms;
  -webkit-transition: all 600ms;
  border-bottom: 1px solid #ddd;
  background-position: 43px 35px;
  background-size: 34px;
  padding-left: 20px;
}
#fixed-hdr li a:hover,
.ftr-list li a:hover {
  background-color: #fff;
  -moz-transition: all 600ms;
  -o-transition: all 600ms;
  -webkit-transition: all 600ms;
  background-color: #fff;
  width: 100px;
  box-shadow: inset -2px 0 #4c8efa;
}
.hide-nav {
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  left: -300px !important;
}
.hdr {
  overflow: hidden;
  height: 60px;
  border-radius: 0 !important;
}
.hdr-top-right .settings-gear {  line-height: 35px }
.hdr-top-right li {  list-style: none }
input:focus {
  outline: 0 !important;
  color: #fff !important;
  opacity: 1 !important;
}
::-webkit-input-placeholder {
  color: #fff !important;
  opacity: 1;
  font-size: 20px;
  font-weight: 100 !important;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #fff !important;
  opacity: 1;
  font-size: 20px;
  font-weight: 100 !important;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff !important;
  opacity: 1;
  font-size: 20px;
  font-weight: 100 !important;
}
:-ms-input-placeholder {
  color: #fff !important;
  opacity: 1;
  font-size: 20px;
  font-weight: 100 !important;
}
#background-stretch {
  left: 0;
  top: 0;
  margin: 0;
  right: 0;
  bottom: 0;
  padding: 0px;
  position: fixed;
  z-index: -1;
  height: 140%;
  width: 140%;
  background: #000 url('../img/landing-bg-3.png') top left no-repeat;
  background-size: cover !important;
  -moz-background-size: cover !important;
  -webkit-background-size: cover !important;
  background-position-y: -200px !important; 
  opacity: 0;
}
.default {
  background: #000 url('../img/landing-bg-4.png') top left no-repeat !important;
}
.bri {
  left: 0;
  top: 0;
  margin: 0;
  right: 0;
  bottom: 0;
  padding: 0px;
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: #000 url('../img/img-bc-large.jpg') top left no-repeat !important;
  background-size: cover !important;
  -moz-background-size: cover !important;
  -webkit-background-size: cover !important;
  background-position-y: -200px !important; 
  opacity: 0;
}
.mia-tn {
  background: url('../img/mia-tn.png') top center no-repeat !important;
  z-index: 222;
}
.mia {
  background: #000 url('../img/mia.png') top left no-repeat !important;
  z-index: 222;
}

.opaque {
  opacity: 1 !important;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}
.opaque-left {
  opacity: 1 !important;
  transition: all .6s cubic-bezier(.02, .01, .10, 1) !important;
  -moz-transition: all .6s cubic-bezier(.02, .01, .10, 1) !important;
  -o-transition: all .6s cubic-bezier(.02, .01, .10, 1) !important;
  -webkit-transition: all .6s cubic-bezier(.02, .01, .10, 1) !important;
  margin-left: 0 !important;
}
.opaque-vids {
  opacity: 1 !important;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}
.cubic {
  opacity: 1 !important;
  transition: all 500ms cubic-bezier(.02, .01, .10, 1) !important;
  -moz-transition: all 500ms cubic-bezier(.02, .01, .10, 1) !important;
  -o-transition: all 500ms cubic-bezier(.02, .01, .10, 1) !important;
  -webkit-transition: all 500ms cubic-bezier(.02, .01, .10, 1) !important;
  margin-top: -30px !important;
}

.blur {
  -webkit-filter: blur(10px) !important;
  -moz-filter: blur(10px) !important;
  -o-filter: blur(10px) !important;
  -ms-filter: blur(10px) !important;
  filter: blur(10px) !important;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
}

.demo {
color: white !important;
position: absolute;
right: 20px;
bottom: 20px;
}
/*
@media (max-width: 1900px) { 
    #videos-wrap {
      -webkit-column-count: 4;
      -webkit-column-gap: 0;
      -moz-column-count: 4;
      -moz-column-gap: 0;
      column-count: 4;
      column-gap: 0;
    }
}

@media (max-width: 1500px) { 
    #videos-wrap {
      -webkit-column-count: 3;
      -webkit-column-gap: 0;
      -moz-column-count: 3;
      -moz-column-gap: 0;
      column-count: 3;
      column-gap: 0;
    }
}
*/
@media (max-width: 700px) { 
    .page-hdr {  line-height: 90px }
    .floaters input {  margin-top: 0 }
    .floaters {
      margin-top: -120px !important;
      margin-left: -260px !important;
    }
}